# Gradle
.gradle/
build/
**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.log

# OS
.DS_Store
Thumbs.db
*~
.directory